
header{
    width: 100%;
    height: 90px;
    background: #ECECEC
}
nav{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

nav ul{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    align-items: center;

}

nav ul li:first-child{
    display: flex; justify-content: center;
}

nav ul li:nth-child(2){
    display: flex;
    justify-content: center;
}

nav ul li img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

nav ul li input.search{
    width: 300px;
    height: 50px;
    background: white;
    border-radius: 20px;
    padding-left: 10px;
}



nav ul p{
    text-transform: capitalize;
    cursor: pointer;
}

